.hero_main {
  
  position: relative;
  padding: 10px;

  .planet-3D {
    position: relative;
    pointer-events: none;
    user-select: none;
    z-index: 2;
  }

  .content {
    
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 1000px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
    width: 100dvw;
    z-index: 1;


    h1 {
      padding-top: 80px;
      padding: x;
      font-weight: 500;
      text-wrap: balance;
    }

    p {
      max-width: 400px;
      font-size: 1.4rem;
    }

    .cta_btn {
      margin-top: 1rem;
      font-size: 1.35rem !important;
      padding: 0.75rem 1.5rem;
      /* background-color: #151517; */
      background-color: #0e0e0c;
      color: white;
      border: none;
      border-radius: 11px;
      box-shadow:
        inset 0 4px 2px -1px rgba(255, 255, 255, 0.2),
        inset 0 -3px 1px black;
      outline: 1.5px solid rgba(0, 0, 0, 0.2);
    }
  }
}




@media (max-width: 1024px) {
  .hero_main {

    .content {
      top: 35%;
      max-width: 90%;
      gap: 1.2rem;

      h1 {
        font-size: 2.2rem;
        padding-top: 60px;
      }

      p {
        font-size: 1.2rem;
        max-width: 480px;
      }
    }
  }
}
@media (max-width: 1024px) {
  .hero_main {

    .content {
      top: 35%;
      max-width: 90%;
      gap: 1.2rem;

      h1 {
        font-size: 2.2rem;
        padding-top: 60px;
      }

      p {
        font-size: 1.2rem;
        max-width: 480px;
      }
    }
  }
}

