.contact_map_section{
  width:100%;
  padding:80px 25px;
  background: var(--bg-alt);
  text-align:center;
  position:relative;
}

.map_title{
  font-size:32px;
  font-weight:900;
  color:var(--text);
  margin-bottom:10px;
}

.map_address{
  font-size:17px;
  color:var(--secondary-text);
  margin-bottom:30px;
}

.map_container{
  max-width:1000px;
  margin:auto;
  border-radius:15px;
  overflow:hidden;
  box-shadow:0 20px 50px rgba(0,0,0,0.15);
}

/* Responsive */
@media(max-width:900px){
  .contact_map_section{
    padding:60px 15px;
  }

  .map_title{
    font-size:26px;
  }
}
